.projects {
  position: relative;
  background-color: #2d323f;
}
.projects-content {
  margin: 0 auto;
}
.projects-list {
  position: relative;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  width: 90%;
}
.projects-content {
  max-width: 1000px;
}
.tagslist {
  display: flex;
  width: 90%;
  margin: 30px auto 0 auto;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.more-projects-wrapper {
  display: flex;
  justify-content: center;
}
.bartini-card-wrapper {
  margin: 20px 0px 20px 0px;
  min-height: 158px;
}
.bartini-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  min-height: 158px;
  transition: 0.2s;
}
.red-bg {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgb(250, 159, 3),
    rgb(242, 51, 125)
  );
  transition: opacity 0.2s;
}
.red-bg:hover {
  opacity: 0;
}
.blue-bg {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #8c15e5, #175a9b);
}
.bartini-card:hover {
  transform: translateX(-10px);
}
.bartini-image {
  width: 90%;
  max-width: 300px;
  z-index: 1;
  pointer-events: none;
}
@media screen and (max-width: 599px) {
  .projects-list {
    width: 100%;
  }
  .bartini-card:hover {
    transform: translateX(0);
  }
  .red-bg:hover {
    opacity: 1;
  }
}
