@font-face {
  font-family: vaporFont;
  src: url(../../fonts/Vaporfont.ttf) format("truetype");
}
.project-card {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3e4555;
}
.content-link {
  color: orange;
  text-decoration: none;
  font-size: larger;
}
.project-link {
  text-decoration: none;
}
.GOshop-wrapper {
  width: 155px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}
.Vaporwave-wrapper {
  width: 185px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f9def5;
}
.Vaporwave {
  text-align: left;
  font-family: vaporFont;
  color: #4196d3;
  letter-spacing: 10px;
  font-size: 20px;
  margin: 0;
}
