.navbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1b242f;
  border-bottom: 3px solid orange;
  pointer-events: fill;
  z-index: 1;
}
.navbar a {
  cursor: pointer;
}
.navlinks {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
@media screen and (min-width: 600px) {
  .julian {
    width: 120px;
  }
  .hamburger {
    display: none;
  }
  .mobilenav {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .navlinks {
    display: none;
  }
  .hamburger {
    position: absolute;
    right: 30px;
  }
}
